<section class="section hero">
  <div class="hero-inner">
    <h1 class="hero-title">Zen Help Center</h1>
    {{search submit=false instant=true class='search search-full'}}
    <div class="quick-search">
      <span>Popular Search Topics:</span>
      <a href="#">Purchase</a>,
      <a href="#">Installation</a>,
      <a href="#">Customization</a>
    </div>
  </div>
</section>
<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item" data-category="{{id}}">
              <a href='{{url}}' class="blocks-item-link">
                <icon :id="{{id}}"></icon>
                <h1 class="blocks-item-title">{{name}}</h1>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
              {{#each sections}}
                {{#each articles}}
                  <a href='{{url}}' class="article-link"></a>
                {{/each}}
              {{/each}}
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <icon :id="{{id}}"></icon>
                  <h1 class="blocks-item-title">{{name}}</h1>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
        <li class="blocks-item">
          <a href='{{page_path "community"}}' class="blocks-item-link">
            <icon :id="'community'"></icon>
            <h1 class="blocks-item-title">Community</h1>
            <p class="blocks-item-description"></p>
          </a>
        </li>
      </ul>
      {{pagination}}
    </section>
    {{#if promoted_articles}}
      <section class="popular">
        <h1>Popular Articles</h1>
        <ul class="popular-articles">
          {{#each promoted_articles}}
            <li class="popular-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
</div>
<script>
new Vue(
{
  el: 'main'
})

$("body").addClass("no-subfooter");
</script>
