<section class="hero">
  <div class="hero-inner">
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>
<div class="container">
  <section class="knowledge-base">
    <ul class="nav-list">
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          <li :class="['nav-item', isActive({{id}}) && 'active']" data-category-id="{{id}}">
            <a href='#{{id}}' class="nav-item-tab" @click='setCategory({{id}})'>{{name}}</a>
            <a href='{{url}}' class="nav-item-link">{{name}}</a>
          </li>
        {{else}}
          {{#each sections}}
            <li class="nav-item">
              <a href='#{{id}}' class="nav-item-tab">
                {{name}}
                {{#if internal}}
                  <span class="icon-lock" title="{{t 'internal'}}"></span>
                {{/if}}
              </a>
              <a href='{{url}}' class="nav-item-link">
                {{name}}
                {{#if internal}}
                  <span class="icon-lock" title="{{t 'internal'}}"></span>
                {{/if}}
              </a>
            </li>
          {{/each}}
        {{/if}}
      {{/each}}
    </ul>
    <div class="nav-content">
      <div class="nav-content-inner hide">
        {{#each categories}}
          <div :class="['nav-category', isActive({{id}}) && 'active']" data-category-id="{{id}}">
            <h1 class="nav-category-title"><a href="{{url}}">{{name}}</a></h1>
            <div class="nav-category-list">
            {{#each sections}}
              <section class="section">
                <h3 class="section-tree-title">
                  <a href="{{url}}">{{name}}</a>
                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </h3>
                {{#if articles}}
                  <ul class="article-list">
                    {{#each articles}}
                      <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                        {{#if promoted}}
                          <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                        {{/if}}
                        <a href="{{url}}" class="article-list-link">{{title}}</a>
                      </li>
                    {{/each}}
                  </ul>
                  {{#if more_articles}}
                    <a href="{{url}}" class="see-all-articles">
                      {{t 'show_all_articles' count=article_count}}
                    </a>
                  {{/if}}
                {{else}}
                  <i class="section-empty">
                    <a href="{{url}}">{{t 'empty'}}</a>
                  </i>
                {{/if}}
              </section>
            {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>
<script>
HC.templates.home.$mount("main");
</script>
